* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "satoshi", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  /* declaring the heading font size, start */
  --font-heading-1: 9rem;
  --font-heading-2: 6.4rem;
  --font-heading-3: 5.2rem;
  --font-heading-4: 4.8rem;
  --font-heading-5: 4rem;
  --font-heading-6: 3.2rem;
  --font-heading-7: 2.4rem;
  /* declaring the heading font size, end */

  /* Body Font Sizes */
  --font-body-xlarge: 2rem;
  --font-body-large: 1.8rem;
  --font-body-medium: 1.6rem;
  --font-body-small: 1.4rem;
  --font-body-xsmall: 1.2rem;

  /* Grayscale Colors */
  --color-gray-25: #fcfcfc;
  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d1d1d6;
  --color-gray-400: #a0a0ab;
  --color-gray-500: #70707b;
  --color-gray-600: #51525c;
  --color-gray-700: #3f3f46;
  --color-gray-800: #26272b;
  --color-gray-900: #1b1b1b;
}
/* header starts */

header {
  padding: 2rem 8rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img {
  width: 10.8rem;
  height: 3.2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar ul li a {
  transition: background 0.3s;
  transition: font-size 0.5s ease;
}
.navbar ul li :hover {
  transform: translateY(-1px);
  color: #541818;
  font-size: var(--font-body-xlarge);
}

.text-color {
  font-weight: 500;
  color: #1b1b1b;
  transition: font-size 0.5s ease;
}
.navbar ul a {
  text-decoration: none;
  font-size: var(--font-body-small);
  padding: 0.4rem 1rem;
  color: #70707b;
  /* onno page gulor color black hobe  */
  /* color: black; */
  font-weight: 400;
}

.menu-threeDot {
  display: none;
  font-size: var(--font-heading-7);
  color: #1b1b1b;
}
.contact-btn {
  border: none;
  padding: 1rem 1.8rem;
  font-size: var(--font-body-medium);
  border-radius: 1.2rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  background-color: #1b1b1b;
  color: #fcfcfc;
}
.contact-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
/* header ends */

/* about us page start  */
/* .explore-property section start  */
.explore-property {
  padding: 0 8rem;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.explore-property-head {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5.6rem;
}
.explore-property-head h3 {
  font-size: var(--font-heading-4);
  font-weight: 400;
  color: var(--color-gray-900);
  line-height: 6.2rem;
  width: 50%;
}
.explore-property-head p {
  font-size: var(--font-body-xlarge);
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-gray-500);
  width: 50%;
}
.explore-property-img {
  width: 100%;
  margin-bottom: 5.6rem;
}
.explore-property-img img {
  width: 100%;
}
.statistics-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.statistics {
}
.statistics h4 {
  font-size: var(--font-heading-2);
  font-weight: 400;
  line-height: 7.6rem;
  color: #1b1b1b;
  text-align: center;
}
.statistics i {
  color: #a0a0ab;
  font-size: 3rem;
  vertical-align: top;
}
.statistics p {
  font-style: italic;
  font-weight: 500;
  font-size: var(--font-body-xlarge);
  line-height: 3rem;
  color: #70707b;
  margin-top: 1.5rem;
  text-align: center;
}
/* .explore-property section end  */

/* pioneer excellence section start */
.pioneer-excellence {
  display: flex;
  gap: 2rem;
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.pionner-text-container {
  width: 50%;
}
.pionner-text-container h3 {
  font-size: var(--font-heading-4);
  font-weight: 400;
  color: var(--color-gray-900);
  line-height: 6.2rem;
  margin-bottom: 1.2rem;
}
.pionner-text-container p {
  font-size: var(--font-body-xlarge);
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-gray-500);
  margin-bottom: 1rem;
}
.pionner-img-container {
  width: 50%;
}
.pionner-img-container img {
  width: 100%;
}

/* pioneer excellence section end  */

/* bank section start  */
.bank-section {
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.bank-head {
  text-align: center;
}
.bank-head h3 {
  font-size: var(--font-heading-4);
  font-weight: 400;
  color: var(--color-gray-900);
  line-height: 6.2rem;
  margin-bottom: 2.4rem;
}
.bank-logo-container {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}
.bank-logo-img {
}
.bank-logo-container img {
  width: 14%;
}
/* bank section end */

/* testimonial section start  */
.testimonial-section {
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.testimonial-section-head {
  display: flex;
  gap: 2rem;
  margin-bottom: 10rem;
}
.testimonial-section-head h3 {
  font-size: var(--font-heading-4);
  font-weight: 400;
  color: var(--color-gray-900);
  line-height: 6.2rem;
  margin-bottom: 2.4rem;
  width: 50%;
}
.testimonial-section-head p {
  font-size: var(--font-body-xlarge);
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-gray-500);
  width: 50%;
}
.testimonial-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}
.testimonial-left {
  width: 50%;
}
.testimonial-right {
  width: 50%;
}
.testimonial-right img {
  width: 100%;
}
.testimonial-left i {
  font-size: 6rem;
  color: #1b1b1b;
  margin-bottom: 2rem;
}

.testimonial-left h4 {
  font-size: 4rem;
  color: #1b1b1b;
  margin-bottom: 2rem;
  font-weight: 500;
}
.testimonial-left p {
  font-size: var(--font-body-xlarge);
  font-weight: 400;
  line-height: 5rem;
  color: var(--color-gray-500);
}
.testimonial-left h5 {
  font-size: 2rem;
  font-weight: 500;
  color: #1b1b1b;
  margin-top: 1.6rem;
}

.testimonial-icon-color i {
  color: #e4e4e7;
}

/* testimonial section end  */

/* about us page end */

/* FaQ section start */
.FAQ {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 6rem;
}
.FAQ-left-side {
  width: 43%;
}
.FAQ-right-side {
  width: 56%;
}
.FAQ-left-side h3 {
  font-size: var(--font-heading-4);
  color: #1b1b1b;
  font-weight: 400;
  line-height: 6rem;
  margin-bottom: 1rem;
}
.FAQ-left-side p {
  font-size: var(--font-body-xlarge);
  color: #70707b;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2.8rem;
}
.FAQ-left-side img {
  width: 100%;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  border-radius: 1rem;
}
.FAQ-left-side img:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.FAQ-right-side {
}
.FAQ-right-side ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-body-medium);
  font-weight: 500;
  color: #70707b;
  list-style: none;
  margin-bottom: 3.5rem;
}
.FAQ-right-side ul i {
  color: #70707b;
}
.FAQ-right-side .style-line {
  flex-wrap: wrap;
  background-color: #fafafa;
  padding: 1rem 0rem;
  border-radius: 1.5rem;
}

.FAQ-right-side .style-line p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #1b1b1b;
  font-weight: 400;
  line-height: 2rem;
}
.style-line li {
  color: #1b1b1b;
}
.style-line i {
  color: #1b1b1b !important;
}

/* FaQ section end  */

/* footer starts */
.footer-wrapper {
  background-color: var(--color-gray-900);
  padding: 8rem 5.6rem;
  margin-top: 4rem;
}
/* footer top part start  */
.footer-top-part {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #70707b;
}

.left-side-footer {
}
.left-side-footer h6 {
  color: var(--color-gray-25);
  font-size: var(--font-heading-6);
  line-height: 3.84rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.info {
}
.info ul {
  list-style: none;
}
.info ul li {
  margin-bottom: 1.2rem;
}
.info-text-style {
  font-size: var(--font-body-small);
  font-weight: 500;
  color: #ffffff99;
  line-height: 2.17rem;
}
.info ul a {
  text-decoration: none;
  font-size: var(--font-body-medium);
  color: var(--color-gray-25);
  font-weight: 400;
  line-height: 2.48rem;
}
.right-side-footer {
}
.right-side-footer {
  display: flex;
  gap: 8.6rem;
  margin-bottom: 8rem;
  /* align-items: baseline; */
}
.nav-list {
  display: flex;

  gap: 2.4rem;
}
.nav-list {
}
.style-li {
  list-style: none;
  color: #ffffff99;
  font-size: var(--font-body-medium);
  line-height: 2.48rem;
  font-weight: 400;
  /* margin-bottom: 1.6rem; */
}
.list-iteam ul li {
  list-style: none;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.list-iteam ul li a {
  text-decoration: none;
  color: var(--color-gray-25);
  font-size: var(--font-body-medium);
  line-height: 2.48rem;
  font-weight: 400;
}
.follow-us {
}
.follow-us ul li {
  list-style: none;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.follow-us ul li a {
  text-decoration: none;
  color: var(--color-gray-25);
  font-size: var(--font-body-medium);
  line-height: 2.48rem;
  font-weight: 400;
}
/* footer top part end  */

/* footer bottom last part start  */
.footer-bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
.footer-bottom-part img {
  width: 10.8rem;
  height: 3.2rem;
}
.footer-bottom-part .style-rights {
  color: #ffffff99;
}
.footer-bottom-part p,
a {
  font-size: var(--font-body-small);
  font-weight: 500;
  line-height: 2.17rem;
  text-decoration: none;
  color: #fcfcfc;
}
.footer-bottom-part i {
  margin-left: 0.8rem;
}
/* footer bottom last part end */

/* footer ends */

/* media quirey for tablet devices, start*/
@media only screen and (max-width: 1199.98px) {
  /* header start  */
  header {
    padding: 2rem 3.5rem;
  }
  .navbar {
    color: #1b1b1b;
  }

  .navbar ul {
    gap: 0;
  }
  .navbar ul a {
    padding: 0.4rem 0.8rem;
  }
  .navbar .logo img {
    width: 7rem;
    height: 2.5rem;
  }
  .contact-btn {
    padding: 0.6rem 1.2rem;
    font-size: var(--font-body-xsmall);
    border-radius: 1.2rem;
  }

  /* header end */

  /* about us page start  */
  /* explore property section start */
  .explore-property {
    padding: 0 5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .explore-property-head {
    margin-bottom: 4rem;
  }
  .explore-property-head h3 {
    font-size: 3.6rem;
    font-weight: 400;
    color: var(--color-gray-900);
    line-height: 4rem;
    width: 50%;
  }
  .explore-property-head p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-gray-500);
    width: 50%;
  }
  .explore-property-img {
    margin-bottom: 4rem;
  }
  .statistics {
  }
  .statistics h4 {
    font-size: 4.8rem;
    line-height: 5.7rem;
  }
  .statistics i {
    font-size: 2.8rem;
    vertical-align: top;
  }
  .statistics p {
    font-style: italic;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 1.2rem;
    /* text-wrap: wrap; */
  }

  /* explore property section end  */

  /* pioneer excellence section start  */
  .pioneer-excellence {
    display: block;
    padding: 0 5rem;
    margin-bottom: 6rem;
  }
  .pionner-text-container {
    width: 100%;
  }
  .pionner-img-container {
    width: 100%;
  }

  .pionner-text-container h3 {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .pionner-text-container p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .pionner-img-container img {
    width: 100%;
    height: 525px;
  }

  /* pioneer excellence section end */

  /* bank section start  */
  .bank-section {
    padding: 0 5rem;
    margin-bottom: 6rem;
  }
  .bank-head h3 {
    font-size: 3.6rem;
  }

  .bank-logo-container img {
    width: 14%;
  }

  /* bank section end  */

  /* testimonial section start  */
  .testimonial-section {
    padding: 0 5rem;
    margin-bottom: 6rem;
  }
  .testimonial-section-head h3 {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .testimonial-section-head p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .testimonial-left i {
    font-size: 3.5rem;
  }
  .testimonial-left p {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .testimonial-left h4 {
    font-size: 3.2rem;
    font-weight: 3.8rem;
  }

  /* testimonial section end */

  /* about us page end */

  /* FaQ section start */
  .FAQ {
    padding: 0 5rem;
    display: block;
  }
  .FAQ-left-side {
    width: 100%;
  }
  .FAQ-right-side {
    width: 100%;
  }
  .FAQ-left-side h3 {
    font-size: 3.6rem;
    margin-bottom: 0;
  }
  .FAQ-left-side p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  .FAQ-left-side img {
    display: none;
  }
  .FAQ-right-side ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
  }
  /* FaQ section end  */

  /* footer start  */
  .footer-wrapper {
    padding: 8rem 3.5rem;
  }
  .footer-top-part {
  }

  .left-side-footer h6 {
    font-size: 2.6rem;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .contact-info .three {
    margin-top: -1.6rem;
  }
  .info .info-text-style {
    font-size: 1.2rem;
  }
  .info ul a {
    font-size: 1.4rem;
  }
  .style-li {
    font-size: 1.4rem;
  }
  .list-iteam ul li a {
    font-size: 1.4rem;
  }
  .follow-us ul li a {
    font-size: 1.4rem;
  }
  .right-side-footer {
    margin-bottom: 4rem;
  }
  /* footer end  */
}

/* media quirey for mobile devices, start*/
@media only screen and (max-width: 767.98px) {
  /* header start  */
  header {
    padding: 2rem 2rem;
  }
  .navbar ul,
  .contact-btn {
    display: none;
  }
  .menu-threeDot {
    display: block;
  }
  .menu-threeDot i {
    color: #1b1b1b;
  }
  .navbar .logo img {
    width: 10.8rem;
    height: 3.2rem;
  }
  /* header end  */
  /* about us page start  */
  /* explore property section start */
  .explore-property {
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  .explore-property-head {
    display: block;
    gap: 0;
    margin-bottom: 4rem;
  }
  .explore-property-head h3 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.8rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .explore-property-head p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    width: 100%;
  }
  .statistics-conteiner {
    display: block;
    gap: 0;
  }
  .statistics {
    margin-bottom: 2rem;
  }
  .statistics h4 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .statistics i {
    font-size: 2rem;
    vertical-align: top;
  }
  .statistics p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  /* explore property section end  */

  /* pioneer excellence section start  */
  .pioneer-excellence {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  .pionner-text-container h3 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.8rem;
    margin-bottom: 2rem;
  }
  .pionner-text-container p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
  .pionner-img-container img {
    height: 335px;
    width: 335px;
  }
  /* pioneer excellence section end */

  /* bank section start  */
  .bank-section {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  .bank-head h3 {
    font-size: 3rem;
  }
  .bank-logo-container {
    flex-wrap: wrap;
  }
  .bank-logo-container img {
    width: 35%;
  }
  /* bank section end */

  /* testimonial section start  */
  .testimonial-section {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  .testimonial-section-head {
    display: block;
    margin-bottom: 4rem;
  }
  .testimonial-section-head h3 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.8rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .testimonial-section-head p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    width: 100%;
  }

  .testimonial-body {
    display: block;
  }
  .testimonial-left {
    width: 100%;
  }
  .testimonial-left p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .testimonial-left h5 {
    font-size: 1.8rem;
  }
  .testimonial-right {
    width: 100%;
  }
  /* testimonial section end */

  /* about us page end */

  /* FaQ section start */
  .FAQ {
    padding: 0 2rem;
  }
  .FAQ-left-side h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2.4rem;
  }
  .FAQ-left-side p {
    font-size: 1.6rem;
  }
  /* FaQ section end  */
  /* footer start  */
  .footer-wrapper {
    padding: 5.6rem 2rem;
  }
  .footer-top-part {
    flex-direction: column;
  }
  .left-side-footer h6 {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .info .info-text-style {
    font-size: 1.4rem;
  }
  .info ul li a {
    font-size: 1.6rem;
  }
  .right-side-footer {
    flex-direction: column;
    gap: 0;
  }
  .follow-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .nav-list-wrapper {
    margin-top: 2.4rem;
  }
  .follow-us {
    margin-top: 2.4rem;
  }
  .footer-bottom-part {
    flex-direction: column;
    gap: 2.4rem;
  }
  /* footer end  */
}
