* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "satoshi", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  /* declaring the heading font size, start */
  --font-heading-1: 9rem;
  --font-heading-2: 6.4rem;
  --font-heading-3: 5.2rem;
  --font-heading-4: 4.8rem;
  --font-heading-5: 4rem;
  --font-heading-6: 3.2rem;
  --font-heading-7: 2.4rem;
  /* declaring the heading font size, end */

  /* Body Font Sizes */
  --font-body-xlarge: 2rem;
  --font-body-large: 1.8rem;
  --font-body-medium: 1.6rem;
  --font-body-small: 1.4rem;
  --font-body-xsmall: 1.2rem;

  /* Grayscale Colors */
  --color-gray-25: #fcfcfc;
  --color-gray-50: #fafafa;
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d1d1d6;
  --color-gray-400: #a0a0ab;
  --color-gray-500: #70707b;
  --color-gray-600: #51525c;
  --color-gray-700: #3f3f46;
  --color-gray-800: #26272b;
  --color-gray-900: #1b1b1b;
}

.background-conteiner {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
}
/* bg-image, start*/
.background-image {
  background-image: url("./assets/image/Hero\ Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1024px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(60%);
}

/* bg-image, end */

/* header starts */

header {
  padding: 2rem 8rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo img {
  width: 10.8rem;
  height: 3.2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.text-color {
  font-weight: 500;
}
.navbar ul a {
  text-decoration: none;
  font-size: var(--font-body-small);
  padding: 0.4rem 1rem;
  color: var(--color-gray-25);
  /* onno page gulor color black hobe  */
  /* color: black; */
  font-weight: 400;
}
.navbar ul li a {
  transition: background 0.3s;
  transition: font-size 0.5s ease;
}
.navbar ul li :hover {
  transform: translateY(-1px);

  font-size: var(--font-body-xlarge);
}

.menu-threeDot {
  display: none;
  font-size: var(--font-heading-7);
  color: var(--color-gray-25);
}
.contact-btn {
  border: none;
  padding: 1rem 1.8rem;
  font-size: var(--font-body-medium);
  border-radius: 1.2rem;
  cursor: pointer;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
}
.contact-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
/* header ends */

/* hero area starts */

.hero-area {
}
.hero-area h1 {
  font-size: var(--font-heading-1);
  color: var(--color-gray-100);
  font-weight: 400;
  line-height: 11.4rem;
  position: absolute;
  left: 4%;
  bottom: 4%;
}
.text-style {
  font-weight: 700;
}
.arrow-down {
  display: inline-block;
  vertical-align: middle;
}
.hero-area i {
  color: #ffffff;
  font-size: var(--font-body-large);
  margin-left: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  padding: 2.4rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); /* Blur the background content */
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.hero-area i:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.thumbnail-img {
  position: absolute;
  bottom: 4%;
  right: 4%;
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  margin: 0 auto;
}
.thumbnail-img img {
  display: block;
  width: 19.6rem;
  height: 14rem;
  padding: 0.8rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  border-radius: 1rem;
}
.thumbnail-img img:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/* hero area ends */

/* our commitment part start  */
.discover-our-commitment {
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.our-commitment {
  display: flex;
  justify-content: space-between;
  gap: 12rem;
  margin-top: 8rem;
}
.leftside-our-commitment {
  width: 50%;
}
.leftside-our-commitment h3 {
  font-size: var(--font-heading-4);
  font-weight: 400;
  color: var(--color-gray-900);
  line-height: 6.2rem;
  letter-spacing: -2%;
  margin-bottom: 3.2rem;
}
.learn-more-btn {
  font-size: var(--font-body-medium);
  font-weight: 500;
  line-height: 2.4rem;
  /* padding: 1rem 2.2rem; */
  height: 4.5rem;
  width: 13.5rem;
  background-color: #1b1b1b;
  color: #ffffff;
  border-radius: 1.2rem;
  border: none;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.learn-more-btn:hover {
  background: #541818;
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.rightside-our-commitment {
  width: 50%;
}
.rightside-our-commitment p {
  font-size: var(--font-body-xlarge);
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-gray-500);
}
.short-details {
  display: flex;
  margin-top: 5.6rem;
  gap: 3.2rem;
}
.detail-conteiner {
}

.img-one {
  width: 25%;
}

.img-two {
  width: 35%;
  margin-top: 9rem;
}
.img-three {
  width: 40%;
}
.detail-conteiner img {
  width: 100%;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  border-radius: 1rem;
}
.detail-conteiner img:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.detail-conteiner h3 {
  font-size: var(--font-heading-7);
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--color-gray-900);
  margin-top: 2rem;
}
.detail-conteiner p {
  font-size: var(--font-body-medium);
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--color-gray-500);
}
/* our commitment part end */

/* property listing section start  */

.property-listing {
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.property-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.property-listing-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5.6rem;
}
.property-listing-head h3 {
  font-size: var(--font-heading-4);
  color: #1b1b1b;
  font-weight: 400;
  width: 50%;
}
.property-listing-head p {
  font-size: var(--font-body-xlarge);
  color: #70707b;
  font-weight: 400;
  width: 50%;
}
.property-list {
  position: relative;
}
.property-list img {
  width: 100%;
  border-radius: 1rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
}
.property-list img:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.house-position {
  position: absolute;
  top: 4%;
  right: 34%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fcfcfc;
  background-color: #1b1b1b;
  padding: 0.6rem 1.6rem;
  border-radius: 2rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.house-position:hover {
  background: #541818;
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.house-position i {
  margin-right: 0.8rem;
  color: #fcfcfc;
}
.forsale-position {
  position: absolute;
  top: 4%;
  right: 5%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fcfcfc;
  background-color: #1b1b1b;
  padding: 0.6rem 1.6rem;
  border-radius: 2rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.forsale-position:hover {
  background: #541818;
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.property-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #e4e4e7;
  margin-bottom: 1.6rem;
}
.name-address {
  margin-bottom: 1.6rem;
}
.name-address i {
  color: #70707b;
}
.property-name h3 {
  font-size: var(--font-heading-7);
  font-weight: 500;
  color: #1b1b1b;
}
.property-price {
  font-size: var(--font-body-xlarge);
  font-weight: 700;
  color: #1b1b1b;
}
.property-price .font-small {
  font-size: var(--font-body-small);
  font-weight: 400;
}
.property-list p {
  font-size: var(--font-body-medium);
  font-weight: 400;
  color: #70707b;
}
.property-list i {
  font-size: var(--font-body-medium);
}

.font-small {
  font-size: var(--font-body-small);
  font-weight: 500;
}

.property-facilities {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
.property-facilities i {
  color: #70707b;
  margin-right: 0.3rem;
}

.view-more-btn {
  margin: 0 auto;
  border: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #1b1b1b;
  padding: 1rem 2.4rem;
  border-radius: 1.2rem;
  margin-top: 5.6rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.view-more-btn:hover {
  background: #541818;
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/* property listing section end */

/* FaQ section start */
.FAQ {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 6rem;
}
.FAQ-left-side {
  width: 43%;
}
.FAQ-right-side {
  width: 56%;
}
.FAQ-left-side h3 {
  font-size: var(--font-heading-4);
  color: #1b1b1b;
  font-weight: 400;
  line-height: 6rem;
  margin-bottom: 1rem;
}
.FAQ-left-side p {
  font-size: var(--font-body-xlarge);
  color: #70707b;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2.8rem;
}
.FAQ-left-side img {
  width: 100%;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  border-radius: 1rem;
}
.FAQ-left-side img:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.FAQ-right-side {
}
.FAQ-right-side ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-body-medium);
  font-weight: 500;
  color: #70707b;
  list-style: none;
  margin-bottom: 3.5rem;
}
.FAQ-right-side ul i {
  color: #70707b;
}
.FAQ-right-side .style-line {
  flex-wrap: wrap;
  background-color: #fafafa;
  padding: 1rem 0rem;
  border-radius: 1.5rem;
}

.FAQ-right-side .style-line p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #1b1b1b;
  font-weight: 400;
  line-height: 2rem;
}
.style-line li {
  color: #1b1b1b;
}
.style-line i {
  color: #1b1b1b !important;
}

/* FaQ section end  */

/* tips and insights start   */
.tips-insigts {
  padding: 0 8rem;
}
.tips-insigts-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}
.tips-insigts-head h3 {
  font-size: var(--font-heading-4);
  color: #1b1b1b;
  font-weight: 400;
  line-height: 6rem;
  margin-bottom: 1rem;
  width: 50%;
}
.tips-insigts-head p {
  font-size: var(--font-body-xlarge);
  color: #70707b;
  font-weight: 400;

  line-height: 2.8rem;
  width: 50%;
}
.tips-items {
  display: flex;
  gap: 2rem;
}
.item-info {
  width: 33%;
}
.item-info img {
  width: 100%;
  margin-bottom: 0.8rem;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  border-radius: 1rem;
}
.item-info img:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.item-info p {
  font-size: var(--font-body-small);
  font-weight: 500;
  color: #70707b;
  margin-bottom: 1.2rem;
}
.item-info i {
  margin-left: 1rem;
}
.item-info h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #1b1b1b;
}
.tips-arrow {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
}
.leftright-arrow {
  display: flex;
}
.leftright-arrow i {
  font-size: 1.6rem;
  margin-left: 3rem;
  height: 40px;
  width: 40px;
  color: #fcfcfc;
  border: 1.5px solid #70707b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
}
.leftright-arrow i:hover {
  background: #541818;
  color: #fcfcfc;
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
.icon-white i {
  color: #70707b;
  background-color: #ffffff;
}
/* tips and insights end   */

/* contact section start */
.contact-section {
  padding: 0 2rem;
}
.flex-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.contact-leftside {
  width: 50%;
}
.contact-rightside {
  /* width: 50%; */
}

.contact-leftside h2 {
  font-size: var(--font-heading-2);
  color: #fcfcfc;
  font-weight: 500;
  line-height: 7rem;
  margin-bottom: 1rem;
}
.contact-leftside p {
  font-size: var(--font-body-xlarge);
  color: #fcfcfc;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2.8rem;
}
.contact-bg-img-container {
  width: 100%;
  height: 640px;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  margin-top: 10rem;
}
.contact-bg-img {
  background-image: url("./assets/image/contact\ form\ bg\ img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(60%);
  z-index: -1;
}

.contact-form {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  /* height: 300px; */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-form label {
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  color: #1b1b1b;
  margin-bottom: 1rem;
}

.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  font-family: satoshi;
  outline: none;
}
.contact-form textarea {
  resize: none;
  height: 150px;
  margin-bottom: 1.5rem;
}
.contact-form button {
  background: #1b1b1b; /* Black background for button */
  color: #fcfcfc;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  transition: background 0.3s;
  transition: box-shadow 0.3s;
  cursor: pointer;
}
.contact-form button:hover {
  background: #541818;
  transform: translateY(-1px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

/* contact section end  */

/* footer starts */
.footer-wrapper {
  background-color: var(--color-gray-900);
  padding: 8rem 5.6rem;
  margin-top: 4rem;

  /* bojhar jonno temporary margin  */
}
/* footer top part start  */
.footer-top-part {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #70707b;
  gap: 2rem;
}

.left-side-footer {
}
.left-side-footer h6 {
  color: var(--color-gray-25);
  font-size: var(--font-heading-6);
  line-height: 3.84rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}
.contact-info {
  display: flex;
  align-items: baseline;
  gap: 2.4rem;
}
.info {
}
.info ul {
  list-style: none;
}
.info ul li {
  margin-bottom: 1.2rem;
}
.info-text-style {
  font-size: var(--font-body-small);
  font-weight: 500;
  color: #ffffff99;
  line-height: 2.17rem;
}
.info ul a {
  text-decoration: none;
  font-size: var(--font-body-medium);
  color: var(--color-gray-25);
  font-weight: 400;
  line-height: 2.48rem;
}
.right-side-footer {
}
.right-side-footer {
  display: flex;
  gap: 8.6rem;
  margin-bottom: 8rem;
  /* align-items: baseline; */
}
.nav-list {
  display: flex;

  gap: 2.4rem;
}
.nav-list {
}
.style-li {
  list-style: none;
  color: #ffffff99;
  font-size: var(--font-body-medium);
  line-height: 2.48rem;
  font-weight: 400;
  /* margin-bottom: 1.6rem; */
}
.list-iteam ul li {
  list-style: none;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.list-iteam ul li a {
  text-decoration: none;
  color: var(--color-gray-25);
  font-size: var(--font-body-medium);
  line-height: 2.48rem;
  font-weight: 400;
}
.follow-us {
}
.follow-us ul li {
  list-style: none;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.follow-us ul li a {
  text-decoration: none;
  color: var(--color-gray-25);
  font-size: var(--font-body-medium);
  line-height: 2.48rem;
  font-weight: 400;
}
/* footer top part end  */

/* footer bottom last part start  */
.footer-bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
.footer-bottom-part img {
  width: 10.8rem;
  height: 3.2rem;
}
.footer-bottom-part .style-rights {
  color: #ffffff99;
}
.footer-bottom-part p,
a {
  font-size: var(--font-body-small);
  font-weight: 500;
  line-height: 2.17rem;
  text-decoration: none;
  color: #fcfcfc;
}
.footer-bottom-part i {
  margin-left: 0.8rem;
}
/* footer bottom last part end */

/* footer ends */

/* media quirey for tablet devices, start*/
@media only screen and (max-width: 1199.98px) {
  /* header start  */
  header {
    padding: 2rem 3.5rem;
  }
  .navbar {
    color: #1b1b1b;
  }
  .navbar ul {
    gap: 0;
  }
  .navbar ul a {
    padding: 0.4rem 0.8rem;
  }
  .navbar .logo img {
    width: 8rem;
    height: 2.5rem;
  }
  .contact-btn {
    padding: 0.6rem 1.2rem;
    font-size: var(--font-body-xsmall);
    border-radius: 1.2rem;
  }
  /* header end */

  /* bg img start */
  .background-conteiner {
    height: 630px;
  }
  .background-image {
    width: 100%;
    height: 630px;
  }
  /* bg img start */

  /* hero area start  */
  .background-image {
    width: 100%;
    height: 630px;
  }
  .hero-area h1 {
    font-size: var(--font-heading-3);
    color: var(--color-gray-100);
    line-height: 6.2rem;
  }
  .thumbnail-img img {
    width: 15.4rem;
    height: 11rem;
  }
  /* hero area end */

  /* our commitment part start  */
  .discover-our-commitment {
    padding: 0 5rem;
    margin-bottom: 6rem;
  }
  .our-commitment {
    flex-direction: column;
    gap: 2rem;
    margin-top: 6rem;
  }

  .leftside-our-commitment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .leftside-our-commitment h3 {
    font-size: 3.6rem;
    color: var(--color-gray-900);
    line-height: 4.5rem;
  }
  .learn-more-btn {
    height: 4.5rem;
    width: 18.5rem;
  }
  .rightside-our-commitment {
    width: 100%;
  }
  .rightside-our-commitment p {
    font-size: 1.8rem;
  }
  .short-details {
    display: flex;

    margin-top: 4rem;
    gap: 1.6rem;
  }
  .detail-conteiner {
  }

  .img-one {
    width: 25%;
  }

  .img-two {
    width: 35%;
    margin-top: 9rem;
  }
  .img-three {
    width: 40%;
  }
  .detail-conteiner img {
    width: 100%;
  }

  .detail-conteiner h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--color-gray-900);
    margin-top: 1.4rem;
  }
  .detail-conteiner p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--color-gray-500);
  }

  /* our commitment part end  */

  /* property listing section start  */
  .property-listing {
    padding: 0 5rem;
    margin-bottom: 6rem;
  }
  .property-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
  .property-listing-head {
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .property-listing-head h3 {
    font-size: 3.6rem;
    /* text-wrap: nowrap; */
  }
  .property-listing-head p {
    font-size: 1.8rem;
  }
  .property-container .last-one {
    display: none;
  }
  .house-position {
    top: 4%;
    right: 36%;
  }
  .property-name h3 {
    font-size: 2rem;
  }
  .property-price {
    font-size: var(--font-body-large);
  }
  .property-price .font-small {
    font-size: var(--font-body-xsmall);
  }
  .property-list p {
    font-size: var(--font-body-small);
  }
  .font-small {
    font-size: var(--font-body-xsmall);
  }

  .property-list i {
    /* margin-right: 0.6rem; */
    font-size: var(--font-body-small);
  }
  /* property listing section end  */

  /* FaQ section start */
  .FAQ {
    padding: 0 5rem;
    display: block;
  }
  .FAQ-left-side {
    width: 100%;
  }
  .FAQ-right-side {
    width: 100%;
  }
  .FAQ-left-side h3 {
    font-size: 3.6rem;
    margin-bottom: 0;
  }
  .FAQ-left-side p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  .FAQ-left-side img {
    display: none;
  }
  .FAQ-right-side ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
  }
  /* FaQ section end  */

  /* tips and insight sec. start   */
  .tips-insigts {
    padding: 0 5rem;
  }
  .tips-insigts-head {
    display: block;
    margin-bottom: 4rem;
  }
  .tips-insigts-head h3 {
    width: 100%;
    font-size: 3.6rem;
  }
  .tips-insigts-head p {
    width: 100%;
    font-size: 1.8rem;
  }
  .tips-items {
    /* flex-wrap: wrap; */
    gap: 2rem;
  }
  .item-info {
    width: 48%;
    margin: 0 auto;
  }
  .item-info img {
    width: 100%;
  }
  .third-item-info {
    display: none;
  }
  /* tips and insight sec. end  */

  /* contact section start  */
  .contact-section {
    padding: 0 2rem;
  }
  .flex-contact {
  }
  .contact-leftside h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .contact-leftside p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .contact-form {
    width: 220px;
  }
  .contact-form textarea {
    height: 80px;
  }

  /* contact section end */

  /* footer start  */
  .footer-wrapper {
    padding: 8rem 3.5rem;
  }
  .footer-top-part {
  }

  .left-side-footer h6 {
    font-size: 2.6rem;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .contact-info .three {
    margin-top: -1.6rem;
  }
  .info .info-text-style {
    font-size: 1.2rem;
  }
  .info ul a {
    font-size: 1.4rem;
  }
  .style-li {
    font-size: 1.4rem;
  }
  .list-iteam ul li a {
    font-size: 1.4rem;
  }
  .follow-us ul li a {
    font-size: 1.4rem;
  }
  .right-side-footer {
    margin-bottom: 4rem;
  }
  /* footer end  */
}
/* media quirey for tablet devices, end*/

/* media quirey for mobile devices, start*/
@media only screen and (max-width: 767.98px) {
  /* header start  */
  header {
    padding: 2rem 2rem;
  }
  .navbar ul,
  .contact-btn {
    display: none;
  }
  .menu-threeDot {
    display: block;
  }
  .menu-threeDot i {
    color: #fcfcfc;
  }
  /* header end  */

  /* hero area start  */
  .background-conteiner {
    width: 100%;
    height: 630px;
  }
  .navbar .logo img {
    width: 10.8rem;
    height: 3.2rem;
  }
  .hero-area h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .thumbnail-img img {
    display: none;
  }

  .arrow-down {
    display: block;
    margin-top: 2.4rem;
  }
  /* hero area end */

  /* our commitment part start  */
  .discover-our-commitment {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  .our-commitment {
    margin-top: 5rem;
  }
  .leftside-our-commitment {
    display: block;
    gap: 2rem;
  }
  .leftside-our-commitment h3 {
    font-size: 3.2rem;
    color: var(--color-gray-900);
    line-height: 3.8rem;
    margin-bottom: 2.4rem;
  }
  .learn-more-btn {
    font-size: 1.4rem;
    height: 4rem;
    width: 11.5rem;
  }
  .rightside-our-commitment {
    margin-bottom: 5.6rem;
  }

  .short-details {
    display: block;
    grid-template-columns: none;
    margin-top: 0;
    gap: 0;
  }
  .detail-conteiner {
    text-align: center;
    margin-bottom: 3.2rem;
    margin: 0 auto;
  }

  .img-one {
    width: 335px;
  }

  .img-two {
    width: 335px;
    margin-top: inherit;
    /* Resets the margin-top  */
  }
  .img-three {
    width: 335px;
  }
  .detail-conteiner img {
    width: 100%;
  }

  .detail-conteiner h3 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin-top: 1.6rem;
  }
  .detail-conteiner p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 1rem;
  }
  /* our commitment part end  */

  /* property listing section start  */
  .property-listing {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }

  .property-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.4rem;
  }
  .property-listing-head {
    /* display: flex; */
    display: block;
    gap: 0;
    margin-bottom: 5.6rem;
  }
  .property-listing-head h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2.4rem;
    width: 100%;
    text-align: center;
  }
  .property-listing-head p {
    width: 100%;
    text-align: center;
  }
  /* property listing section end  */

  /* FaQ section start */
  .FAQ {
    padding: 0 2rem;
  }
  .FAQ-left-side h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2.4rem;
  }

  /* FaQ section end  */

  /* tips and insight sec. start */
  .tips-insigts {
    padding: 0 2rem;
  }
  .tips-items {
    display: block;
  }
  .tips-insigts-head h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
  .item-info {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
  }
  .item-info img {
    width: 100%;
  }
  .item-info p {
    font-size: 1rem;
    /* display: inline-block; */
  }
  .item-info .p-h {
    display: block;
  }

  .third-item-info {
    display: none;
  }
  /* tips and insight sec. end  */

  /* contact section start  */
  .contact-section {
    padding: 0 1rem;
  }
  .flex-contact {
    flex-direction: column;
    gap: 5rem;
  }
  .contact-leftside {
    width: 80%;
  }

  .contact-leftside h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .contact-leftside p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .contact-rightside {
  }

  .contact-form {
    width: 100%;
  }
  .contact-form textarea {
    height: 80px;
  }

  /* contact section end */

  /* footer start  */
  .footer-wrapper {
    padding: 5.6rem 2rem;
  }
  .footer-top-part {
    flex-direction: column;
  }
  .left-side-footer h6 {
    font-size: 2.8rem;
    font-weight: 400;
  }
  .info .info-text-style {
    font-size: 1.4rem;
  }
  .info ul li a {
    font-size: 1.6rem;
  }
  .right-side-footer {
    flex-direction: column;
    gap: 0;
  }
  .follow-us ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  .nav-list-wrapper {
    margin-top: 2.4rem;
  }
  .follow-us {
    margin-top: 2.4rem;
  }
  .footer-bottom-part {
    flex-direction: column;
    gap: 2.4rem;
  }
  /* footer end  */
}

/* media quirey for mobile devices, end*/
